# hellow every one is the test of JNB

we are tesating and learning how to use JNB

In [144]:
print("hey dude be aswesome")

hey dude be aswesome

In [145]:
print ("hellow BDA 01")

hellow BDA 01

# numbers in python

In [146]:
BDA = 20

In [147]:
BDA

20

In [148]:
type (BDA)

int

In [149]:
FCS=100

In [150]:
FCS-BDA

80

In [151]:
FCS/BDA

5.0

In [152]:
BDA*FCS

2000

In [153]:
FCS+BDA

120

# FLOAT POINT VALUE OPERATIONS

In [154]:
RAN=20.9

In [155]:
KAN=99.87

In [156]:
RAN-KAN

-78.97

In [157]:
KAN-RAN

78.97

In [158]:
KAN*RAN

2087.283

In [159]:
KAN+RAN

120.77000000000001

In [160]:
RAN/KAN
KAN/RAN
RAN+KAN

120.77000000000001

# STRINGS VALUE OPERATIONS

In [161]:
LUNCH="BRIYANI"

In [162]:
LUNCH[1]

'R'

In [163]:
LUNCH[::-1]

'INAYIRB'

In [164]:
LUNCH[:-1]

'BRIYAN'

In [165]:
LUNCH[2]

'I'

In [166]:
sunday ="BusinessDataAnalytics"

In [167]:
sunday

'BusinessDataAnalytics'

In [168]:
sunday[1:20]

'usinessDataAnalytic'

In [169]:
sunday[::-1]

'scitylanAataDssenisuB'

In [170]:
sunday[::2]

'BsnsDtAayis'

In [171]:
sunday[::3]

'BisaAli'

In [172]:
sunday[::-3]

'staaDes'

In [173]:
sunday[2:3:7]

's'

# list operations

In [174]:
week=['sunday','monday','tuesday','wednesday','thursday',1,2,9,["hi",'ate','meow'],True]

In [175]:
week

['sunday',
 'monday',
 'tuesday',
 'wednesday',
 'thursday',
 1,
 2,
 9,
 ['hi', 'ate', 'meow'],
 True]

In [176]:
week[1]

'monday'

In [177]:
week[1:8]

['monday', 'tuesday', 'wednesday', 'thursday', 1, 2, 9]

In [178]:
week.count ("monday")

1

In [179]:
week.insert(1,5)

In [180]:
week

['sunday',
 5,
 'monday',
 'tuesday',
 'wednesday',
 'thursday',
 1,
 2,
 9,
 ['hi', 'ate', 'meow'],
 True]

In [181]:
week.pop()

True

# dictionary operations

In [182]:
anyDicts ={"hb":"cat","fish":"ranguard","farins":"geetha"}

In [183]:
anyDicts

{'hb': 'cat', 'fish': 'ranguard', 'farins': 'geetha'}

In [184]:
anyDicts.keys()

dict_keys(['hb', 'fish', 'farins'])

In [185]:
type(anyDicts)

dict

In [186]:
anyDicts.get("hb")

'cat'

In [187]:
anyDicts.values()

dict_values(['cat', 'ranguard', 'geetha'])

 # Tuples operation

In [188]:
anytyple =("anwar","fan",22,22,False,59.36)

In [189]:
anytyple

('anwar', 'fan', 22, 22, False, 59.36)

In [190]:
anytyple.count(22)

2

In [191]:
anytyple.index(22)

2

# set operations

In [192]:
anyset ={"BDA",2,1,2,3,4,5,65,False}

In [193]:
anyset

{1, 2, 3, 4, 5, 65, 'BDA', False}

In [194]:
anyset.add(21)

In [195]:
anyset

{1, 2, 21, 3, 4, 5, 65, 'BDA', False}

# boolean operations

In [196]:
True

True

In [197]:
False

False

In [198]:
not False

True

In [199]:
not True

False

In [200]:
2<3<8

True

In [201]:
2>3<5

False

In [202]:
3+6+98+78>200

False

# comparison.operators

== is to check two operators are equal or not

In [203]:
10==3

False

In [204]:
10==10

True

In [205]:
x=100

In [206]:
y=60

In [207]:
x==y

False

not eqal to

In [208]:
x != y

True

In [209]:
x>y

True

In [210]:
y>x

False

gretater than or equal to

In [211]:
z=40

In [212]:
x>=z

True

In [213]:
y >=z

True

less than equal too

In [214]:
x<=y

False

In [215]:
y<=z

False

# chain operators

# AND

#  OR

# NOT

In [216]:
(40>100 ) or (100>50)  # or operartor

True

In [217]:
(40>100) and (100>50) # and operator

False

In [218]:
not (40>100)        #not operator

True

In [219]:
not (40<100)      #not operator

False

# flow control staements

# if elif, else

In [221]:
if 40> 50:
    print ("first statementg was true")
    print ("first block printed")
elif 50>90:
    print ("second elif statement was true")
    print ("first block printed")
else:
    print ("nothing left hence printing else block")

nothing left hence printing else block